<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Brugerdata</title>
</head>

<body>
<h1> Oversigt over brugere </h1>
<p th:each="bruger : ${bruger}">
    <!-- link til update af bruger -->
    <span th:text="${bruger.navn}" />
    <span th:text="${bruger.cpr}" />
    <span th:text="${bruger.sms}" />
    <span th:text="${bruger.email}" />
    <span th:text="${bruger.niveau}" />
    <!-- rødt link til slet af bruger -->
</p>

<!-- link til create ny person -->
<form action="/create" method="get">
    <button type="submit" class="btn btn-primary"> Opret ny Bruger </button>
</form>


</p>

</body>
</html>